$font : 'Montserrat', sans-serif;
$text-color : #252B42;
$second-text-color: #737373;
$bg-header-color:#dddddd;
$text-link-color : #000000;
$text-intro-color : #f7f7f7;
$text-content-color:#FA4A0C;
$font-image:300px;
$background-color:#252B42;



